/* app/assets/stylesheets/products.css */

.product img {
    max-width: 100%;  /* Максимальная ширина изображения равна ширине контейнера */
    max-height: 300px; /* Ограничивает максимальную высоту изображения */
    height: auto;  /* Поддерживает пропорции изображения */
    display: block; /* Убирает лишние отступы вокруг изображения */
    margin: 0 auto; /* Центрирует изображение */
    object-fit: cover; /* Обеспечивает покрытие доступного пространства без искажения пропорций */
}

.product {
    border: 1px solid #ccc; /* Добавляет рамку вокруг каждого продукта */
    padding: 15px; /* Добавляет отступы внутри блока продукта */
    margin-bottom: 20px; /* Добавляет отступ снизу для каждого продукта */
    text-align: center; /* Выравнивание текста по центру */
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Создает сетку с колонками минимальной ширины 300px */
    grid-gap: 20px; /* Добавляет промежуток между колонками */
}
