<p style="color: green"><%= notice %></p>

<h1>Carts</h1>

<div id="carts">
  <% @carts.each do |cart| %>
    <div class="cart-item">
      <%= render cart %>
      <p>
        <%= link_to "Show this cart", cart, class: "button" %>
      </p>
    </div>
  <% end %>
</div>

<div class="new-cart-link">
  <%= link_to "New cart", new_cart_path, class: "button" %>
</div>
